In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd
import os

打开excel文件并获取sheet数量及各sheet的名称

In [2]:
path = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\Original.XLS'
# df = pd.read_excel(path)
data = xlrd.open_workbook(path)
count = len(data.sheets())
sheet_name = []
for sheet in data.sheets():
    sheet_name.append(sheet.name)
count, sheet_name

(10,
 ['Sheet1',
  'Sheet2',
  'Sheet3',
  'Sheet4',
  'Sheet5',
  'Sheet6',
  'Sheet7',
  'Sheet8',
  'Sheet9',
  'Sheet10'])

加载test data

In [3]:
test = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\Reinjection1.XLS'

测试：concat所有sheet

In [4]:
test_path = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\test.xlsx'
test_data = xlrd.open_workbook(test_path)
dataframe = pd.DataFrame()
for sheet in test_data.sheets():
    name = sheet.name
    df = pd.read_excel(test_path, sheet_name = name)
    dataframe = pd.concat([dataframe, df], ignore_index = True)
dataframe

c:\app\python37\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

   name1 name2 name3 name4  t[s]     8    sa    s   as    df    18
0     sa     s    as     s   1.0   NaN   NaN  NaN  NaN   NaN   NaN
1     hj    hj    ds   fds   2.0   NaN   NaN  NaN  NaN   NaN   NaN
2    dsa   dsa   ads   fds   3.0   NaN   NaN  NaN  NaN   NaN   NaN
3     hj   dsa    sa   fds   4.0   NaN   NaN  NaN  NaN   NaN   NaN
4     hj    hj    fg   fds   5.0   NaN   NaN  NaN  NaN   NaN   NaN
5      n     f    fh    gf   6.0   NaN   NaN  NaN  NaN   NaN   NaN
6      f    nh    sa   fds   7.0   NaN   NaN  NaN  NaN   NaN   NaN
7    NaN   NaN   NaN   NaN   NaN   9.0    sa    s   as    df   NaN
8    NaN   NaN   NaN   NaN   NaN  10.0    sa    s   as    df   NaN
9    NaN   NaN   NaN   NaN   NaN  11.0    sa    s   as    df   NaN
10   NaN   NaN   NaN   NaN   NaN  12.0    sa    s   as    df   NaN
11   NaN   NaN   NaN   NaN   NaN  13.0    sa    s   as    df   NaN
12   NaN   NaN   NaN   NaN   NaN  14.0    sa    s   as    df   NaN
13   NaN   NaN   NaN   NaN   NaN  15.0    sa    s   as    df   NaN
14   NaN   NaN   NaN   NaN   NaN  16.0    sa    s   as    df   NaN
15   NaN   NaN   NaN   NaN   NaN  17.0    sa    s   as     x   NaN
16   NaN   NaN   NaN   NaN   NaN   NaN  adsf    s   as  fdsa  19.0
17   NaN   NaN   NaN   NaN   NaN   NaN    sa    s   as    df  20.0
18   NaN   NaN   NaN   NaN   NaN   NaN  adsf    s   as  fdsa  21.0
19   NaN   NaN   NaN   NaN   NaN   NaN    sa    s   as    df  22.0
20   NaN   NaN   NaN   NaN   NaN   NaN  adsf    s   as  fdsa  23.0
21   NaN   NaN   NaN   NaN   NaN   NaN    sa    s   as    df  24.0
22   NaN   NaN   NaN   NaN   NaN   NaN  adsf    s   as  fdsa  25.0
23   NaN   NaN   NaN   NaN   NaN   NaN    sa    s   as    df  26.0
24   NaN   NaN   NaN   NaN   NaN   NaN  adsf    s   as  fdsa  27.0
25   NaN   NaN   NaN   NaN   NaN   NaN    sa    s   as    df  28.0

在original data上测试concat

In [5]:
original_dataframe = pd.DataFrame()
for sheet in data.sheets():
    name = sheet.name
    df = pd.read_excel(path, sheet_name = name)
    original_dataframe = pd.concat([original_dataframe, df], ignore_index = True)
original_dataframe.shape

(602164, 11)

测试：合并信息到最后一行

In [6]:
snippet = original_dataframe.head(10)
snippet

,t[s],EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[],EYEQDG_CMN_Params_s.COM_EyeQ_Frame_ID_b32[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Lat_Distance_b12[],EYEQDG_CMN_Params_s.COM_Sync_Frame_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_Sync_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_Lost_b2[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Relative_Long_Velocity_b13[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Long_Distance_b14[]
0,0.002703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.6
1,0.004612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1324.0,NaN
2,0.006779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
3,0.008963,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,0.010822,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
5,0.012616,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN
6,0.014619,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN
7,0.016452,NaN,NaN,5.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.018462,NaN,12860.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.020199,13012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
list(snippet.columns)==["t[s]", 
                             "EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[]", 
                             "EYEQDG_CMN_Params_s.COM_EyeQ_Frame_ID_b32[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Lat_Distance_b12[]",
                             "EYEQDG_CMN_Params_s.COM_Sync_Frame_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_Sync_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_Lost_b2[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Relative_Long_Velocity_b13[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Long_Distance_b14[]"]

True

In [8]:
result = pd.DataFrame(columns = original_dataframe.columns)
result

Empty DataFrame
Columns: [t[s], EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[], EYEQDG_CMN_Params_s.COM_EyeQ_Frame_ID_b32[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Lat_Distance_b12[], EYEQDG_CMN_Params_s.COM_Sync_Frame_ID_b8[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_Sync_ID_b8[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_ID_b8[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_Lost_b2[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_ID_b8[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Relative_Long_Velocity_b13[], EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Long_Distance_b14[]]
Index: []

In [9]:
result.loc[0, "t[s]"] = snippet.loc[9, "t[s]"]
for i in range(len(snippet)):
    replace_with = snippet.iloc[i, 10-i]
    print(replace_with)
    result.iloc[0,10-i] = replace_with
result

6.600000000000023
1324.0
2.0
0.0
0.0
60.0
60.0
5.75
12860.0
13012.0

,t[s],EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[],EYEQDG_CMN_Params_s.COM_EyeQ_Frame_ID_b32[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Lat_Distance_b12[],EYEQDG_CMN_Params_s.COM_Sync_Frame_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_Sync_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_Lost_b2[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_ID_b8[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Relative_Long_Velocity_b13[],EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Long_Distance_b14[]
0,0.0201991,13012,12860,5.75,60,60,0,0,2,1324,6.6

用来检测是否有异常值并删除异常值的函数

In [10]:
def detect_irregular(dataframe):
    # 10 is default based on the data provided, subject to change
    detect = len(dataframe) % 10
    if detect != 0:
        new_df = dataframe.copy()
        for i in range(detect):
            new_df = new_df.drop(len(new_df)-1)
        return new_df
    return dataframe
data = detect_irregular(original_dataframe)

将data分割成10行一组，分别处理（很慢）

In [11]:
# the number 9 and 10 are based on the number of lines in the data, subject to change
def process_ten_lines(snippet, result_df, current_index, end_index):
    result_df.loc[current_index, "t[s]"] = snippet.loc[end_index, "t[s]"]
    for i in range(len(snippet)):
        replace_with = snippet.iloc[i, 10-i]
        result_df.iloc[current_index,10-i] = replace_with
    return result_df

In [12]:
def merge_data(dataframe):
    result = pd.DataFrame(columns = dataframe.columns)
    # 10 is default based on the data provided, subject to change
    for j in range(len(dataframe) // 10):
        start = j*10
        end = (j+1)*10
        result = process_ten_lines(dataframe.iloc[start:end], result, j, end-1)
    return result

尝试处理整个dataframe之后dropna（FOR LOOP比较慢）

In [ ]:
def process_by_ten_lines(dataframe):
    dataframe_copy = dataframe.copy()
    iters = len(dataframe_copy)//10
    for p in range(iters):
        start = p*10
        end = (p+1)*10
        for i in range(10):
            replace_with = dataframe_copy.iloc[start+i, 10-i]
            dataframe_copy.iloc[end-1,10-i] = replace_with
    return dataframe_copy
result = process_by_ten_lines(data).dropna(subset = ["EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[]"])

In [ ]:
result

利用shift优化速度（可以直接dropna而不需要把数据数量变为10的倍数）

In [ ]:
def shift_columns(dataframe):
    dataframe_copy = dataframe.copy()
    iters = dataframe_copy.shape[1]
    for index, col in enumerate(dataframe.columns[2:]):
        dataframe_copy[col] = dataframe_copy[col].shift(index+1)
    return dataframe_copy

In [ ]:
def dropnan(dataframe):
    return dataframe.dropna(subset = ["EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[]"])

In [ ]:
after_process=dropnan(shift_columns(original_dataframe))
after_process

数据处理和画图

In [ ]:
# set the index as the camera ID
new_col = ['T', 'Cam_id', 'EQ_id', 'Lat_D', 'Com_Sync_id', 'OBJ_Sync_id', 'OBJ_CIPV_ID', 'OBJ_CIPV_Lost', 'OBJ_id', 'OBJ_Re_Long_V', 'OBJ_Long_D']
after_process.columns = new_col
current_data = after_process.set_index('Cam_id')
current_data

In [ ]:
# matplotlib
fig = plt.figure(figsize=(20,8),dpi=80)
ax = plt.subplot(111)
#plt.plot(current_data.index, current_data['OBJ_Re_Long_V'], color = 'b')
plt.plot(current_data.index, current_data['OBJ_Long_D'], color = 'r')
# plt.plot(current_data.index, df['RNA_ITS-CAN::FrCamera_ITS_A1::CamLateralDistanceObject00_ITS[m]'], color = 'g')
# plt.plot(current_data.index, df['RNA_ITS-CAN::FrCamera_ITS_A1::CamRelativeVelocityObject00_ITS[m/s]'], color = 'y')

搜索、加载、合并data的函数

In [ ]:
def search_dir(directory):
    files = os.listdir(directory)
    
    original_file = None
    test_file = []
    
    for f in files:
        if f.endswith(".XLS"):
            if f.startswith("Reinjection"):
                test_file.append(f)
            elif f.startswith("Original"):
                original_file = f
                
    return original_file, test_file

In [ ]:
directory = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis'
search_dir(directory)

加载test data 1

In [ ]:
def check_header(dataframe, header_list):
    return list(dataframe.columns) == header_list

In [ ]:
def load_and_concate_test_data(path):
    dataframe = pd.DataFrame()
    header_list = ["t[s]", 
                             "EYEQDG_CMN_Params_s.COM_Cam_Frame_ID_b32[]", 
                             "EYEQDG_CMN_Params_s.COM_EyeQ_Frame_ID_b32[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Lat_Distance_b12[]",
                             "EYEQDG_CMN_Params_s.COM_Sync_Frame_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_Sync_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvH_Params_s.OBJ_VD_CIPV_Lost_b2[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_ID_b8[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Relative_Long_Velocity_b13[]",
                             "EYEQDG_OBJT_Params_s.EYEQDG_OBJTvO_Params_as._0_.OBJ_Long_Distance_b14[]"]
    data = xlrd.open_workbook(path)
    for sheet in data.sheets():
        name = sheet.name
        print(name)
        df = pd.read_excel(path, sheet_name = name)
        if not check_header(df, header_list):
            df.columns = header_list
        dataframe = pd.concat([dataframe, df], ignore_index = True, sort=False)
        
    # remove some tail rows that are not numeric data
    dataframe_rows = len(dataframe)
    dataframe = dataframe.drop(list(range(dataframe_rows-8, dataframe_rows)))
    return dataframe

In [ ]:
test1_path = directory = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\Reinjection1.XLS'
df1 = load_and_concate_test_data(test1_path)

In [ ]:
df1

In [ ]:
df1_copy = dropnan(shift_columns(df1))
df1_copy

测试删除“outlier”

In [ ]:
dataframe

In [ ]:
filt = dataframe["name1"] == "adsf"
new = dataframe.drop(dataframe[filt].index)

In [ ]:
new.reset_index()

In [ ]:
dataframe

In [ ]:
test2 = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\Reinjection2.XLS'

In [58]:
def check_first_row(dataframe, header_list):
    return list(dataframe.loc[0]) == header_list

In [59]:
test_path = 'C:\\Users\\Z0050908\\Documents\\Jupyter_scipt\\group5\\group5\\Result analysis\\test.xlsx'
dataframe = pd.DataFrame()
data = xlrd.open_workbook(test_path)
first_name = data.sheets()[0].name
final_name = data.sheets()[-1].name
head = ["t[s]", "name1", "name2", "name3", "name4"]
print(final_name)
for sheet in data.sheets():
    name = sheet.name
    print("Processing:", name)
    if name == final_name:
        df = pd.read_excel(test_path, names = head, header = None, sheet_name = name, skipfooter = 8)
    else:
        df = pd.read_excel(test_path, names = head, header = None, sheet_name = name)
    if check_first_row(df, head):
        df = df.drop(0)
        print(12)
        
    dataframe = pd.concat([dataframe, df], ignore_index = True, sort=False)

# remove some tail rows that are not numeric data
# dataframe_rows = len(dataframe)
# dataframe = dataframe.drop(list(range(dataframe_rows-8, dataframe_rows)))

Sheet3
Processing: Sheet1
12
Processing: Sheet2
12
Processing: Sheet3

In [60]:
dataframe

   t[s] name1 name2 name3 name4
0     1    sa     s    as     s
1     2    hj    hj    ds   fds
2     3   dsa   dsa   ads   fds
3     4    hj   dsa    sa   fds
4     5    hj    hj    fg   fds
5     6     n     f    fh    gf
6     7     f    nh    sa   fds
7     8    sa     s    as    df
8     9    sa     s    as    df
9    10    sa     s    as    df
10   11    sa     s    as    df
11   12    sa     s    as    df
12   13    sa     s    as    df
13   14    sa     s    as    df
14   15    sa     s    as    df
15   16    sa     s    as    df
16   17    sa     s    as     x
17   18    sa     s    as    df
18   19  adsf     s    as  fdsa
19   20    sa     s    as    df

In [47]:
dataframe.columns=head

In [48]:
dataframe

    t[s]  name1  name2  name3  name4
0   t[s]  name1  name2  name3  name4
1      1     sa      s     as      s
2      2     hj     hj     ds    fds
3      3    dsa    dsa    ads    fds
4      4     hj    dsa     sa    fds
5      5     hj     hj     fg    fds
6      6      n      f     fh     gf
7      7      f     nh     sa    fds
8      8     sa      s     as     df
9      9     sa      s     as     df
10    10     sa      s     as     df
11    11     sa      s     as     df
12    12     sa      s     as     df
13    13     sa      s     as     df
14    14     sa      s     as     df
15    15     sa      s     as     df
16    16     sa      s     as     df
17    17     sa      s     as      x
18    18     sa      s     as     df
19    19   adsf      s     as   fdsa
20    20     sa      s     as     df

In [43]:
dataframe.columns = dataframe.loc[0]

In [44]:
dataframe

0    1    sa    s   as     s
0    1    sa    s   as     s
1    2    hj   hj   ds   fds
2    3   dsa  dsa  ads   fds
3    4    hj  dsa   sa   fds
4    5    hj   hj   fg   fds
5    6     n    f   fh    gf
6    7     f   nh   sa   fds
7    8    sa    s   as    df
8    9    sa    s   as    df
9   10    sa    s   as    df
10  11    sa    s   as    df
11  12    sa    s   as    df
12  13    sa    s   as    df
13  14    sa    s   as    df
14  15    sa    s   as    df
15  16    sa    s   as    df
16  17    sa    s   as     x
17  18    sa    s   as    df
18  19  adsf    s   as  fdsa
19  20    sa    s   as    df

In [61]:
dataframe

   t[s] name1 name2 name3 name4
0     1    sa     s    as     s
1     2    hj    hj    ds   fds
2     3   dsa   dsa   ads   fds
3     4    hj   dsa    sa   fds
4     5    hj    hj    fg   fds
5     6     n     f    fh    gf
6     7     f    nh    sa   fds
7     8    sa     s    as    df
8     9    sa     s    as    df
9    10    sa     s    as    df
10   11    sa     s    as    df
11   12    sa     s    as    df
12   13    sa     s    as    df
13   14    sa     s    as    df
14   15    sa     s    as    df
15   16    sa     s    as    df
16   17    sa     s    as     x
17   18    sa     s    as    df
18   19  adsf     s    as  fdsa
19   20    sa     s    as    df

In [62]:
dataframe.loc[:, ["t[s]", "name2"]]

   t[s] name2
0     1     s
1     2    hj
2     3   dsa
3     4   dsa
4     5    hj
5     6     f
6     7    nh
7     8     s
8     9     s
9    10     s
10   11     s
11   12     s
12   13     s
13   14     s
14   15     s
15   16     s
16   17     s
17   18     s
18   19     s
19   20     s

In [64]:
for i in range(1, 1):
    print(i)